main {
    flex: 1;
    padding-top: 100px;
    width: 800px;
    /*margin-left: 250px;*/
}

#selected-instructions li {
    display: flex;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size : 40px;
    margin-bottom: 20px;
}

#selected-instructions li span { flex: 1; }
#selected-instructions li span:nth-of-type(2) { text-align: center; }
.selected-instructions__delete {
    width: 30px;
    background-color: red;
    flex: 0 !important;
    font-size: 20px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    padding: 0 8px;
    height: 30px;
    display: inline-block;
    margin: 10px 0 0 40px;
    font-family: Arial, serif;
    font-weight: bold;
    line-height: 30px;
    box-shadow: 2px 2px 4px #222;
}

#selected-instructions select {
    background-color: #222;
    font-size: 40px;
    color: white;
    font-family: neon, serif;
    width : 220px;
}

#selected-instructions .noReplacement {
    color: grey;
}

#instruction-list {
    position: absolute;
    left: 25px;
    top : 150px;
    font-size : 30px;
}

#instruction-list li {
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 15px;
    font-weight: bold;
    cursor: pointer;
    width: 200px;
}

#instruction-list li.selected {
    background-color: #666;
}

footer {
    position: absolute;
    bottom : 25px;
    right : 25px;
    font-family: Arial, serif;
}

footer button {
    padding: 10px 30px;
    font-size: 25px;
    border-radius: 3px;
    border: 1px solid #3bc636;
    background-color: #009c00;
    color: white;
    cursor: pointer;
}
footer button[disabled] {
    border: 1px solid #93c684;
    background-color: #689c65;
    color: #c7c7c7;
    cursor: not-allowed;
}
footer button#delete-sequence {
    border: 1px solid #f86b63;
    background-color: #ff4641;
}
#sequence-id {
    position: absolute;
    bottom: 55px;
}

#parameters { font-size: 16px; }
#parameters > h2 { font-size: 20px; }
#parameters input {
    background-color: #222;
    color: white;
    text-align: right;
}
#parameters > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#parameters > div > article {
    font-family: Arial, serif;
    margin : 0 0 10px;
}
#parameters__duration input { width : 30px; }
#parameters__timeout input { width : 50px; }
#parameters__range input { width : 50px; }
#parameters__max-points input { width : 50px; }
#parameters__max-points-delay input { width : 50px; }
#parameters__rules-duration input { width : 50px; }

#leaderboard {
    top: 82px;
}
#presets button,
#reinit-score {
    padding: 5px 15px;
    font-size: 12px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    border-color: #2e63ee;
    background-color: #21489c;
    font-family: Arial, serif;
    margin-right: 35px;
}

#presets {
    font-family: Arial, serif;
}
#presets button {
    display: inline-block;
    margin : 0 5px 10px 0;
    border-color: #e0e0e0;
    background-color: #222222;
    width: 70px;
}