@font-face {
    font-family: 'neon';
    src: url('fonts/neon.woff2') format('woff2'),
    url('fonts/neon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arcade';
    src: url('fonts/arcadeclassic.woff2') format('woff2'),
    url('fonts/arcadeclassic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'digital';
    src: url('fonts/digital.woff2') format('woff2'),
    url('fonts/digital.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}