@font-face {
    font-family: 'neon';
    src: url('neon.woff2') format('woff2'),
    url('neon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arcade';
    src: url('arcadeclassic.woff2') format('woff2'),
    url('arcadeclassic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}